* {
    margin: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}
main{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
header, footer{
    background-color: white;
    padding: 10px 50px;
}
footer, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav a {
    margin-left: 30px;
    font-weight: bold;
}
a{
    color: #242424;
    text-decoration: none;
}
#nav a:hover{
    color: #a5b4fc;
    transform: scale(1.5);
}
section {
    padding: 40px;
}
.accueil-introduction {
    display: flex;
    flex-direction: row;
    /* max-width: 1000px; */
    align-items: flex-start;
    margin: auto;
}
.accueil-introduction h1 {
    margin-top: 60px;
    margin-bottom: 15px;
}
.accueil-introduction p {
    margin-bottom: 30px;
}
.accueil-introduction div {
    padding-right: 40px;
    vertical-align: middle;
}
h1{
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
}
p, li{
    font-size: 1.1em;
    color: #f9f8ff;
}
em {
    color: #a5b4fc;
    font-style: normal;
}
.cta {
    display: inline-block;
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
}
.cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}
.lien-icone {
    margin-left: 30px;
}
.lien-icone:hover {
    opacity: 0.5;
}

/* Tamplete Style for mobile device */
@media all and (min-width: 320px) and (max-width: 768px) {
    #contenair{
        width: 100%;
        margin: 0 auto;
    }
    header{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        border-bottom: 3px solid #8e86b5;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accueil-introduction {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .accueil-introduction h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .accueil-introduction p {
        margin-bottom: 30px;
    }
    .accueil-introduction div {
        padding: 20px;
        vertical-align: middle;
    }
    p, li {
        font-size: 1.5em;
    }
    .cta {
        display: block;
        text-align: center;
    }
    #hidemobile{
        display: none;
    }
    footer div{
        margin: 10px;
    }
    main img{
        width: 100%;
    }
}

/* Style for Service.html file*/
#mainService{
    display: flex;
    flex-direction: column;
}
#mainService h1{
    margin: 40px;
}
#services-Contenair, #media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
}
.service, video{
    width: calc(100%/4);
    text-align: justify;
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding-right: 20px;
    padding-bottom: 20px;
}
.service h2{
    color: #a5b4fc;
    margin-bottom: 10px;
}
.service P, .service li, .service dl{
    color: black;
}

/* Service file, Mobile device */
@media all and (min-width: 320px) and (max-width: 768px) {
    #services-Contenair{
        display: flex;
        flex-direction: column;
    }
    .service{
        width: 100%;
        border-right: none;
        padding-right: 0;
    }
    #mainService h1{
        margin: 20px;
    }
    .service p, .service li {
        font-size: 1em;
    }
}

/* About us style*/
.section-contact{
    width: 70%;
}
.section-contact h2, #media h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    color: white;
}
.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
input, textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}
label {
    margin-bottom: 10px;
}
input[type='submit'] {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
input[type='submit']:hover{
    cursor: pointer;
}
.imap{
    border: 1px solid #8e86b5;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
    max-width: 100%;
}
.service p label{
    padding-bottom: 20px;
}
.service p a{
    margin: 30px 20px;
}

/* about us page, Mobile device */
@media all and (min-width: 320px) and (max-width: 768px) {
    .form-nom-email, #media {
        display: flex;
        flex-direction: column;
    }
    .form-column, video {
        width: 100%;
    }
}